<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MF Screener</title>

    <!--https://realfavicongenerator.net/-->
    <link rel="shortcut icon" href="/static/favicon.ico">

    <!--https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/-->
    <!--https://www.w3schools.com/bootstrap/default.asp-->
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/jquery-ui.css">
    <link rel="stylesheet" href="/static/app.css">

    <script src="/static/chroma.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/moment.js"></script>
    <script src="/static/Chart.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/app.js"></script>

    <script>
      // safe allows quotes as is without encoding them
      var mf_codes = [ {{ mf_codes|join(',\n')|safe }} ];
    </script>

  </head>

  <body>

    <nav class="navbar navbar-inverse">

      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#"><b>MF Screener</b></a>
        </div>

        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Mutual Funds</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Misc</a></li>
        </ul>

      </div>

    </nav>

    <div class="container-fluid">

      <!--Row with two columns-->
      <div class="row">

        <div id="divNavList" class="col-md-2">
          <!--Column left-->
          <h4>Mutual Fund Selector</h4>
          <input id="inputNavSearch" class="form-control autocomplete" style="margin-top: 1em" placeholder="Mutual Fund">
        </div>

        <div id="divNavChart" class="col-md-10">
          <!--Column right-->
          <div class="row">

            <div class="col-md-2">
              <label class="control-label">&nbsp;</label>
              <button id="btnLastTenYr" class="btn btn-default btn-block" onclick="updateNavDate(10)">Last 10 years</button>
            </div>

            <div class="col-md-2">
              <label class="control-label">&nbsp;</label>
              <button id="btnLastFiveYr" class="btn btn-default btn-block" onclick="updateNavDate(5)">Last 5 years</button>
            </div>

            <div class="col-md-2">
              <label class="control-label">&nbsp;</label>
              <button id="btnLastThreeYr" class="btn btn-default btn-block" onclick="updateNavDate(3)">Last 3 years</button>
            </div>

            <div class="col-md-2">
              <label class="control-label">&nbsp;</label>
              <button id="btnLastOneYr" class="btn btn-default btn-block" onclick="updateNavDate(1)">Last 1 year</button>
            </div>

            <div class="col-md-2">
              <label class="control-label" for="inputNavStartDate">Start Date</label>
              <input id="inputNavStartDate" class="form-control" readOnly="true">
            </div>

            <div class="col-md-2">
              <label class="control-label" for="inputNavEndDate">End Date</label>
              <input id="inputNavEndDate" class="form-control" readOnly="true">
            </div>

          </div>

		      <canvas id="canvasNavChart" style="width: 100%; margin-top: 1em"></canvas>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12">
          <footer class="text-center text-muted" style="margin-top: 1em">
            <p>&copy; Copyright 2018 Abhijeet Baruah</p>
          </footer>
        </div>
      </div>

    </div>

  </body>
</html>

