<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MF Screener</title>

    <!--https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/-->
    <!--https://www.w3schools.com/bootstrap/default.asp-->
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/jquery-ui.css">
    <link rel="stylesheet" href="/static/app.css">

    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/Chart.js"></script>
    <script src="/static/date.min.js"></script>
    <script src="/static/jquery-ui.js"></script>
    <script src="/static/app.js"></script>

    <script>
      // safe allows quotes as is without encoding them
      var mf_codes = [ {{ mf_codes|join(',\n')|safe }} ];
    </script>

  </head>

  <body>

    <div class="container">

      <div class="page-header">
        <h1>MF Screener</h1>
      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Mutual Funds</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Misc</a></li>
      </ul>

      <!--Row with two columns-->
      <div class="row">

        <div id="divNavList" class="col-md-3">
          <!--Column left-->
          <h4>Mutual Fund Selector</h4>
          <input id="inputNavSearch" class="form-control autocomplete" placeholder="Mutual Fund">
        </div>

        <div id="divNavChart" class="col-md-9">
          <!--Column right-->
		      <canvas id="canvasNavChart" style="width: 100%"></canvas>
        </div>

      </div>

      <footer class="text-center text-muted">
        <p>&copy; Copyright 2018 Abhijeet Baruah</p>
      </footer>

    </div>

  </body>
</html>

